In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from google.colab import drive
drive.mount('/content/drive')
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Mounted at /content/drive

In [2]:
specific_direction="/content/drive/My Drive/20191112_CUMOOC_Data/Raw Data/"
cvocp_user_course_timing_masked = pd.read_csv(specific_direction+'01_cvocp_user_course_timing_masked.csv')

# ลองพิจารณา Feature ที่มาจาก timestamp ของแต่ละคน

In [3]:
cvocp_user_course_timing_masked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049508 entries, 0 to 1049507
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   record_id    1049508 non-null  int64
 1   cv_uid       1049508 non-null  object
 2   cv_cid       1049508 non-null  object
 3   action_type  1049508 non-null  object
 4   assoc_id     1049508 non-null  object
 5   assoc_id2    1049508 non-null  object
 6   timestamp    1049508 non-null  int64
dtypes: int64(2), object(5)
memory usage: 56.0+ MB

In [4]:
print(min(cvocp_user_course_timing_masked['timestamp']), " = 01/07/2018, " , max(cvocp_user_course_timing_masked['timestamp']) ," = 02/28/2019")

1530413688  = 01/07/2018,  1551348939  = 02/28/2019

In [5]:
cvocp_user_course_timing_masked['action_type'].unique()

array(['quiz_submitted', 'quiz_opened', 'completed_intime', 'enrolled',
       'completed_late', 'quiz_timer_started', 'quiz_timer_out'],
      dtype=object)

In [6]:
one_day = 24 * 60 * 60
cvocp_user_course_timing_masked['timestamp2'] = (cvocp_user_course_timing_masked['timestamp'] - 1530413688) / one_day

In [7]:
#sns.displot(cvocp_user_course_timing_masked, x="timestamp" , hue = "action_type", binwidth=1, multiple = "stack" )

In [8]:
#sns.displot(cvocp_user_course_timing_masked[(cvocp_user_course_timing_masked['action_type'] == "completed_late") | (cvocp_user_course_timing_masked['action_type'] == "completed_intime")], x="timestamp", binwidth=1)

In [9]:
cvocp_user_course_timing_masked['action_type'].value_counts()

quiz_submitted        491581
quiz_opened           423719
enrolled              109537
completed_intime       22858
completed_late          1769
quiz_timer_started        37
quiz_timer_out             7
Name: action_type, dtype: int64

In [11]:
cvocp_user_course_timing_masked['action_count'] = 0
counter = dict()
for i in range(len(cvocp_user_course_timing_masked)):
  uid = cvocp_user_course_timing_masked['cv_uid'][i]
  cid = cvocp_user_course_timing_masked['cv_cid'][i]
  if((uid,cid) not in counter):
    counter[(uid,cid)] = 0
  counter[(uid,cid)]+=1
  cvocp_user_course_timing_masked['action_count'][i] = counter[(uid,cid)]
  if(i % 50000 == 0):
    print(i)

0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

50000
100000
150000
200000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000
950000
1000000

In [12]:
cvocp_user_course_timing_masked['complete_in_time_count'] = 0
cvocp_user_course_timing_masked['complete_late_count'] = 0

counter1 = dict()
counter2 = dict()

for i in range(len(cvocp_user_course_timing_masked)):
  uid = cvocp_user_course_timing_masked['cv_uid'][i]
  cid = cvocp_user_course_timing_masked['cv_cid'][i]
  if((uid,cid) not in counter1):
      counter1[(uid,cid)] = 0
  if((uid,cid) not in counter2):
      counter2[(uid,cid)] = 0
  if(cvocp_user_course_timing_masked['action_type'][i] == "completed_intime"):
    counter1[(uid,cid)] += 1
  elif (cvocp_user_course_timing_masked['action_type'][i] == "completed_late"):
    counter2[(uid,cid)] += 1
  cvocp_user_course_timing_masked['complete_in_time_count'][i] = counter1[(uid,cid)]
  cvocp_user_course_timing_masked['complete_late_count'][i] = counter2[(uid,cid)]
  if(i % 50000 == 0):
    print(i)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0
50000
100000
150000
200000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000
950000
1000000

In [13]:
cvocp_user_course_timing_masked['enrolled_count'] = 0
counter = dict()
for i in range(len(cvocp_user_course_timing_masked)):
  if(cvocp_user_course_timing_masked['action_type'][i] == "enrolled"):
    uid = cvocp_user_course_timing_masked['cv_uid'][i]
    if(uid not in counter):
      counter[uid] = 1
    cvocp_user_course_timing_masked['enrolled_count'][i] = counter[uid]
    counter[uid]+=1
  if(i % 50000 == 0):
    print(i)

0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

50000
100000
150000
200000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000
950000
1000000

In [15]:
cvocp_user_course_timing_masked.head()

   record_id                cv_uid  ... complete_late_count enrolled_count
0          1  KP0XGECF1SGVOS2O24VF  ...                   0              0
1          2  KP0XGECF1SGVOS2O24VF  ...                   0              0
2          3  KP0XGECF1SGVOS2O24VF  ...                   0              0
3          4  KP0XGECF1SGVOS2O24VF  ...                   0              0
4          5  KH8UA5P183ESRY8BQSNP  ...                   0              0

[5 rows x 12 columns]

In [16]:
print(sum(cvocp_user_course_timing_masked['complete_in_time_count']>0))

42740

In [ ]:
# 0 - เรียนไม่จบ 1 - กำลังเรียน 2 - เรียนจบทันเวลา 3 - เรียนจบเลท
#cvocp_user_course_timing_masked['label'] = 0

In [17]:
cvocp_user_info_masked = pd.read_csv(specific_direction+"05_cvocp_user_info_masked.csv")
cvocp_user_info_masked.info()
dataframe = cvocp_user_course_timing_masked.join(cvocp_user_info_masked.set_index('cv_uid'), on ='cv_uid')
dataframe.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51036 entries, 0 to 51035
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cv_uid       51036 non-null  object
 1   education    51035 non-null  object
 2   occupation   51035 non-null  object
 3   gender       51035 non-null  object
 4   yearofbirth  51035 non-null  float64
 5   residence    51035 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.3+ MB

   record_id                cv_uid  ... yearofbirth residence
0          1  KP0XGECF1SGVOS2O24VF  ...      1987.0   Bangkok
1          2  KP0XGECF1SGVOS2O24VF  ...      1987.0   Bangkok
2          3  KP0XGECF1SGVOS2O24VF  ...      1987.0   Bangkok
3          4  KP0XGECF1SGVOS2O24VF  ...      1987.0   Bangkok
4          5  KH8UA5P183ESRY8BQSNP  ...      1976.0   Bangkok

[5 rows x 17 columns]

In [18]:
cvocp_course_masked = pd.read_csv(specific_direction+"03_cvocp_course_masked.csv")
dataframe2 = dataframe.join(cvocp_course_masked.set_index('cv_cid')[['reg_workflow','course_type','roster_limit','course_start','course_end','reg_start','reg_end']] , on='cv_cid')
dataframe2.head()

   record_id                cv_uid  ...   reg_start     reg_end
0          1  KP0XGECF1SGVOS2O24VF  ...  1528131600  1529341199
1          2  KP0XGECF1SGVOS2O24VF  ...  1528131600  1529341199
2          3  KP0XGECF1SGVOS2O24VF  ...  1528131600  1529341199
3          4  KP0XGECF1SGVOS2O24VF  ...  1528131600  1529341199
4          5  KH8UA5P183ESRY8BQSNP  ...  1528218000  1529427599

[5 rows x 24 columns]

In [19]:
char_has_nan_col = ['education','occupation','gender','residence','reg_workflow','course_type']
num_has_nan_col = ['yearofbirth','course_start','course_end','reg_start','reg_end']
drop_col = ['assoc_id','assoc_id2']
dataframe2 = dataframe2.drop(drop_col,axis = 1)
dataframe2.head()

   record_id                cv_uid  ...   reg_start     reg_end
0          1  KP0XGECF1SGVOS2O24VF  ...  1528131600  1529341199
1          2  KP0XGECF1SGVOS2O24VF  ...  1528131600  1529341199
2          3  KP0XGECF1SGVOS2O24VF  ...  1528131600  1529341199
3          4  KP0XGECF1SGVOS2O24VF  ...  1528131600  1529341199
4          5  KH8UA5P183ESRY8BQSNP  ...  1528218000  1529427599

[5 rows x 22 columns]

In [21]:
for col in num_has_nan_col: 
  dataframe2[col].fillna(-1, inplace = True)
for col in char_has_nan_col: 
  dataframe2[col].fillna("missing value", inplace = True)

In [22]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

label_dataframe2 = dataframe2.copy()

for col in char_has_nan_col : 
  label_dataframe2[col] = label_encoder.fit_transform(dataframe2[col])

# Label

โดยให้ 
0 - เรียนไม่จบแล้วไม่กลับมาเรียนอีก

1 - เรียนไม่จบแต่กลับมาเรียนอีก 

2 - เรียนจบทันเวลา 

3 - เรียนจบเลท

โดย 1 - เรียนไม่จบแต่กลับมาเรียนอีก นั้นเป็นบันทึกก่อนที่จะเรียนจบของคนที่เรียนจบ

In [23]:
label_dataframe2['label'] = 0
# 0 - เรียนไม่จบ 1 - กำลังเรียน 2 - เรียนจบทันเวลา 3 - เรียนจบเลท
for i in range(len(label_dataframe2)):
  uid = cvocp_user_course_timing_masked['cv_uid'][i]
  cid = cvocp_user_course_timing_masked['cv_cid'][i]
  if(label_dataframe2['action_type'][i]=="completed_intime") :
    label_dataframe2['label'][i] = 2
  elif (label_dataframe2['action_type'][i]=="completed_late") :
    label_dataframe2['label'][i] = 3
  elif(counter1[(uid,cid)]!=0 or counter2[(uid,cid)]!=0):
    label_dataframe2['label'][i] = 1
  if(i % 50000 == 0):
    print(i)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

0
50000
100000
150000
200000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000
950000
1000000

# Drop บันทึกที่ในช่วงสองสัปดาห์สุดท้าย เนื่องจากยากที่จะระบุว่าจะไม่กลับมาเรียนใหม่
*สองสัปดาห์เป็นค่าที่นึกขึ้นมาเอง ควรเลือกค่าจากสถิติ*

In [54]:
max_timestamp = max(label_dataframe2['timestamp']) 
two_week = 2 * 7 * 24 * 3600
new_label_dataframe2 = label_dataframe2[(label_dataframe2['timestamp'] < max_timestamp - two_week)]

In [56]:
print(len(new_label_dataframe2))
new_label_dataframe2.head()
selected_feater = ['timestamp','complete_in_time_count','complete_late_count','enrolled_count','education','occupation','gender','yearofbirth','residence','residence','course_type','roster_limit','course_start','course_end','reg_start','reg_end']
X = new_label_dataframe2[selected_feater]
y = new_label_dataframe2['label']

984692

In [57]:
X.columns

Index(['timestamp', 'complete_in_time_count', 'complete_late_count',
       'enrolled_count', 'education', 'occupation', 'gender', 'yearofbirth',
       'residence', 'residence', 'course_type', 'roster_limit', 'course_start',
       'course_end', 'reg_start', 'reg_end'],
      dtype='object')

# Train and test

In [58]:
from sklearn.model_selection import train_test_split
X_tv, X_test, y_tv , y_test = train_test_split(X, y, test_size = 0.7 ,random_state = 5)
X_train, X_valid, y_train , y_valid = train_test_split(X_tv, y_tv,  test_size = 0.6, random_state = 5)

Decission tree

In [59]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import classification_report

cumooc_model = DecisionTreeClassifier(random_state=1)
cumooc_model.fit(X_train, y_train)

val_predictions = cumooc_model.predict(X_valid)


print(classification_report(y_valid, val_predictions))

              precision    recall  f1-score   support

           0       0.80      0.78      0.79     61802
           1       0.87      0.88      0.87    111223
           2       0.67      0.62      0.64      3908
           3       0.53      0.46      0.49       312

    accuracy                           0.84    177245
   macro avg       0.72      0.68      0.70    177245
weighted avg       0.84      0.84      0.84    177245

In [45]:
test_predictions = cumooc_model.predict(X_test)
print(classification_report(y_test, test_predictions))

              precision    recall  f1-score   support

           0       0.81      0.78      0.79    241787
           1       0.86      0.88      0.87    431146
           2       0.67      0.62      0.64     15141
           3       0.54      0.43      0.48      1211

    accuracy                           0.84    689285
   macro avg       0.72      0.68      0.70    689285
weighted avg       0.84      0.84      0.84    689285

MLPClassifier

In [46]:
from sklearn.neural_network import MLPClassifier

cumooc_model = MLPClassifier(hidden_layer_sizes=(6 , 3),max_iter=400)

cumooc_model.fit(X_train, y_train)
val_predictions = cumooc_model.predict(X_valid)

print(classification_report(y_valid, val_predictions))

              precision    recall  f1-score   support

           0       1.00      0.00      0.01     61802
           1       0.63      1.00      0.77    111223
           2       0.00      0.00      0.00      3908
           3       0.00      0.00      0.00       312

    accuracy                           0.63    177245
   macro avg       0.41      0.25      0.19    177245
weighted avg       0.74      0.63      0.49    177245

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

LogisticRegression

In [47]:
from sklearn.linear_model import LogisticRegression

cumooc_model = LogisticRegression(random_state=0)

cumooc_model.fit(X_train, y_train)
val_predictions = cumooc_model.predict(X_valid)

print(classification_report(y_valid, val_predictions))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       1.00      0.00      0.01     61802
           1       0.63      1.00      0.77    111223
           2       0.00      0.00      0.00      3908
           3       0.00      0.00      0.00       312

    accuracy                           0.63    177245
   macro avg       0.41      0.25      0.19    177245
weighted avg       0.74      0.63      0.49    177245

RandomForestClassifier

In [48]:
from sklearn.ensemble import RandomForestClassifier

cumooc_model = RandomForestClassifier(random_state=1)

cumooc_model.fit(X_train, y_train)
val_predictions = cumooc_model.predict(X_valid)

print(classification_report(y_valid, val_predictions))

              precision    recall  f1-score   support

           0       0.84      0.83      0.84     61802
           1       0.90      0.90      0.90    111223
           2       0.69      0.73      0.71      3908
           3       0.55      0.44      0.49       312

    accuracy                           0.87    177245
   macro avg       0.75      0.73      0.74    177245
weighted avg       0.87      0.87      0.87    177245

In [49]:
test_predictions = cumooc_model.predict(X_test)
print(classification_report(y_test, test_predictions))

              precision    recall  f1-score   support

           0       0.85      0.83      0.84    241787
           1       0.90      0.90      0.90    431146
           2       0.69      0.72      0.70     15141
           3       0.58      0.42      0.49      1211

    accuracy                           0.87    689285
   macro avg       0.75      0.72      0.73    689285
weighted avg       0.87      0.87      0.87    689285